@media (min-width: 1200px) {
  .slogan {
    font-size: 90px;
    padding-left: 25px;
  }

  .slogan span {
    line-height: 24px;
  }

  .slogan .location {
    font-size: 34px;
  }

.logo {
  height: 200px;
}

.slogan {
  height: 300px;
}
}












@media (max-width: 979px) {
  .slogan {
    font-size: 62px;
    border: none;
    padding: 0;
    text-align: center;
    height: auto;
  }

  .slogan .location {
    margin-top: 60px;
    font-size: 24px;
  }

  .button-action {
    margin-top: 35px;
  }

  .logo {
    height: 200px;
  }
}












@media (max-width: 767px) {
  body {
    padding: 0;
  }

  .container {
    padding: 20px;
  }

}






@media (max-width: 490px) {
  body {
    background: $green url(../images/moon-small.png) no-repeat center 510px;
      height: 700px;
  }

  .main-header {
    padding-top: 60px;
  }

  .logo {
    height: 150px;
  }

  .slogan {
    font-size: 36px;
  }

  .slogan span {
    line-height: normal;
  }

  .slogan .location {
    font-size: 18px;
    margin-top: 40px;
  }

  .button-action {
    font-size: 18px;
    width: 250px;
    height: 50px;
    padding-top: 18px;
  }
}
