html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  // @include linear-gradient($green, $green-dark);
  background: $green;
  position: relative;
  color: $white;
  font-family: $base-font-light;
  font-size: $base-font-size;
  line-height: 1.5em;
  padding-bottom: 60px;
  margin-top: -50px;
}

h1, h2 {
  color: #464b4c;
  font-size: 40px;
  font-weight: bold;
}
h1 {
  text-transform: uppercase;
  font-family: 'brandon_grotesqueblack';
}
h2, span, p {
  color: #464b4c;
  font-family: 'brandon_grotesquelight';
}

section {
  width: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: 16px;
  color: #fff;
  background: darken($green, 10%);
  padding: 10px 20px;
  z-index: 9999;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  &:hover {
    color: #fff;
    background: darken($green, 15%);
    text-decoration: none;
  }
  &:active {
    background: darken($green, 20%);
  }
}
