@font-face {
  font-family: 'FuturaBold';
  font-style: normal;
  font-weight: normal;
  src: url("/styles/fonts/futura_bold_bt-webfont.eot");
  src: url("/styles/fonts/futura_bold_bt-webfont.eot?#iefix") format("embedded-opentype"),url("/styles/fonts/futura_bold_bt-webfont.woff") format("woff"),url("/styles/fonts/futura_bold_bt-webfont.ttf") format("truetype"),url("/styles/fonts/futura_bold_bt-webfont.svg#avalonbold") format("svg");
}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('/styles/fonts/brandon_blk-webfont.eot');
    src: url('/styles/fonts/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/brandon_blk-webfont.woff') format('woff'),
         url('/styles/fonts/brandon_blk-webfont.ttf') format('truetype'),
         url('/styles/fonts/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('/styles/fonts/brandon_light-webfont.eot');
    src: url('/styles/fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/styles/fonts/brandon_light-webfont.woff') format('woff'),
         url('/styles/fonts/brandon_light-webfont.ttf') format('truetype'),
         url('/styles/fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;

}