@mixin button_effect($bgColor, $textColor) {
  @include transition( all ease-in 150ms );
  background-color: $bgColor;
  color: $textColor;
  font-size: 1.5em;
  padding: .5em 1em;

  &:hover {
    background-color: darken($bgColor, 5%);
    color: darken($textColor, 4%);
    text-decoration: none;
  }
}
.button-fb {
  @include button_effect($blue-fb, $white);
}

.button-2013 {
  @include button_effect($green-light, $white);
}
