.main-header {
  padding-top: 50px;
}

.container {
  margin: 0 auto;
}

.register {
  text-align: right;
  padding: 25px 50px;
  a {
    color: #fff;
    font-size: 25px;
    font-weight: 400;
  }
}

.logo {
  text-align: center;
  padding: 25px 0;
  img {
    width: 10%;
  }
}

.slogan {
  text-align: center;
  font-size: 72px;
}

.slogan .motto {
  font-family: $base-font-black;
  color: #fff;
  position: relative;
  z-index: 2;
}

.moon-and-astronaut {
  text-align: center;
  position: relative;

  .phrase {
    width: 75%;
    position: absolute;
    top: 30%;
    left: 12.5%;
    z-index: 2;
  }

  .moon {
    width: 50%;
    margin-top: 40px;
    -webkit-animation: moon_rotate 180s infinite ease-out, moon_up_down 15s infinite ease-out, moon_left_right 15s infinite ease-out;
    animation: moon_rotate 180s infinite ease-out, moon_up_down 15s infinite ease-out, moon_left_right 15s infinite ease-out;
  }

  .astronaut {
    position: absolute;
    right: 15%;
    bottom: 5%;
    width: 26%;
    z-index: 3;
    -webkit-animation: astronaut_rotate 60s infinite ease-out, astronaut_up_down 15s infinite ease-out, astronaut_left_right 15s infinite ease-out;
    animation: astronaut_rotate 60s infinite ease-out, astronaut_up_down 15s infinite ease-out, astronaut_left_right 15s infinite ease-out;
  }
}

@-webkit-keyframes moon_rotate { 
  0% { -webkit-transform: rotate(0deg)} 
  25% { -webkit-transform: rotate(90deg)} 
  50% { -webkit-transform: rotate(180deg)} 
  75% { -webkit-transform: rotate(270deg)} 
  100% { -webkit-transform: rotate(360deg)} 
}

@-webkit-keyframes moon_up_down { 
  0% { bottom: 10%;} 
  25% { bottom: 15%;} 
  50% { bottom: 20%;} 
  75% { bottom: 15%;} 
  100% { bottom: 10%;} 
}

@-webkit-keyframes moon_left_right { 
  0% { right: 0.5%;} 
  25% { right: 0.75%;} 
  50% { right: 1%;} 
  75% { right: 0.75%;} 
  100% { right: 0.5%;} 
}

@-webkit-keyframes astronaut_rotate { 
  0% { -webkit-transform: rotate(0deg)} 
  25% { -webkit-transform: rotate(30deg)} 
  50% { -webkit-transform: rotate(15deg)} 
  75% { -webkit-transform: rotate(-30deg)} 
  100% { -webkit-transform: rotate(0deg)} 
}

@-webkit-keyframes astronaut_up_down { 
  0% { bottom: 5%;} 
  25% { bottom: 10%;} 
  50% { bottom: 15%;} 
  75% { bottom: 10%;} 
  100% { bottom: 5%;} 
}

@-webkit-keyframes astronaut_left_right { 
  0% { right: 15%;} 
  25% { right: 16%;} 
  50% { right: 17%;} 
  75% { right: 16%;} 
  100% { right: 15%;} 
}

.date-and-location {
  background: #80af2f;
  margin-top: 50px;
  padding: 10px 0;
  .date, .location {
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    padding: 10px 0;

    p {
      color: #fff;
      margin: 0;
    }
  }
}

.button-action {
  @include transition (.5s);
  color: $white;
  font-family: $base-font-black;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  width: 320px;
  height: 70px;
  margin-top: 50px;
  padding-top: 30px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3); /* 30% Black */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    @include transition (.5s);
    background: rgba(0, 0, 0, 0.7);  /* 70% Black */
  }
}

