.main-header {
  padding-top: 120px;
}

.slogan {
  text-align: center;
  font-size: 72px;
  margin-top: 30px;
}

.slogan .motto {
  font-family: $base-font-black;
  color: $white;
}

.slogan .location {
  font-family: $base-font-light;
  font-size: 28px;
  margin-top: 80px;
}

.logo {
  @extend %image-replacement;
  margin: 0;
  padding: 0;
  background: url("/images/logo-startup-vale.png") no-repeat center;
  background-size: contain;
}

.logo, .slogan {
  height: 200px;
}

.button-action {
  @include transition (.5s);
  color: $white;
  font-family: $base-font-black;
  font-size: 28px;
  text-transform: uppercase;
  text-decoration: none;
  width: 320px;
  height: 70px;
  margin-top: 50px;
  padding-top: 30px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3); /* 30% Black */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    @include transition (.5s);
    background: rgba(0, 0, 0, 0.7);  /* 70% Black */
  }
}

